@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

* {
   box-sizing: border-box;
}

body {
   height: 100vh;
   margin: 0;
   font-family: 'Lato', sans-serif;
   background-color: #c9c9ee;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
   color: #232528;
   font-family: 'Poppins', sans-serif;
   font-size: xx-large;
}

.music-container {
   background-color: #232528;
   border-radius: 12px;
   display: flex;
   position: relative;
   padding: 20px;
   margin: 100px 0;
   z-index: 10;
   box-shadow: 2px 10px 10px 2px #141516;
}

.img-container {
   position: relative;
   width: 110px;
}

.img-container img {
   width: inherit;
   height: 110px;
   border-radius: 50%;
   object-fit: cover;
   position: absolute;
   bottom: 0;
   left: 0;
   animation: rotate 3s linear infinite;
   animation-play-state: paused;
}

.music-container.play .img-container img {
   animation-play-state: running;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
}

.action-btn {
   background-color: #232528;
   border: 0;
   color: #c9c9ee;
   font-size: 20px;
   cursor: pointer;
   padding: 15px;
   margin: 0 10px;
}

.action-btn-big {
   font-size: 25px;
}

.action-btn:focus {
   outline: 0;
}

.music-info {
   background-color: rgba(35, 37, 40, 0.4);
   position: absolute;
   border-radius: 15px 15px 0 0;
   top: 0;
   left: 20px;
   width: calc(100% - 40px);
   opacity: 0;
   transform: translateY(0%);
   padding: 10px 10px 10px 80px;
   transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
   margin: 0;
}

.music-container.play .music-info {
   opacity: 1;
   transform: translateY(-100%);
}

.progress-container {
   background-color: #232528;
   border-radius: 5px;
   cursor: pointer;
   margin: 10px 0;
   height: 4px;
   width: 100%;
}

.progress {
   background-color: #c9c9ee;
   border-radius: 5px;
   height: 90%;
   /* width: 50%; */
   transition: width 0.1s linear;
}

/* Developed By Mohammad Kiaei */
